
<h1>Tasks</h1>
<div class='container'>

    <% @tasks.each do |task| %>
    <div class='card'>
      <%= '<i class="fab fa-angellist"></i>'.html_safe if task.completed %>
        <%= link_to task.title, task_path(task)%>
      <%=link_to '<i class="fas fa-trash-alt"></i>'.html_safe, task_path(task),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
      <br>
    </div>
    <% end %>
<p></p>
</div>
<button type="button" class="btn btn-primary" inner-text='white'><%= link_to "Create New Task", tasks_new_path %></button>

