// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  display: flex;
  justify-content: center
}
body{
  text-align: center;
}
.card{
  border: 1px solid gray;
  width: 200px;
  padding: 20px;
  background-color: gray;
  opacity: 0.8;
  margin: 20px;
}

a{
  color: white;
}
